<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="TestNGTest">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="TestRunners.RegistrationTest"/>
    </classes>
     </test>
     <test name="TestNGTest1">
       <parameter name="browser" value="firefox"/>
    <classes>
      <class name="TestRunners.LoginTest"/>
    </classes>
  <!-- Test -->
  </test>
</suite> <!-- Suite -->
